@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.video-list {
    @include mixins.desktop {
        padding-left: 1rem;
        border-left: 1px solid colors.$secondary-mercury;
        padding-bottom: 3rem;
    }

    &__heading {
        text-transform: uppercase;
        color: colors.$primary-silver;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-top: 1.75rem;
    }
}