@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.input {
    &__textarea, &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.25rem;
        border: 1px solid colors.$secondary-mercury;
        padding: 0.75rem;
        resize: none;

        @include mixins.desktop {
            margin-right: 1rem;
            overflow: hidden;
            padding: 0.6rem;
        }

        &:focus  {
            border: 2px solid colors.$primary-blue;
        }
    }

    &__textarea{
        &--has-error {
            @include mixins.hasError
        }
    }

    &__input {
        &--has-error {
            @include mixins.hasError
        }
    }

    &__help {
        font-weight: 400;
        font-size: 0.65rem;
        color: colors.$has-error;
    }
}