$primary-black: #323232;
$primary-black-rgba-50-percent: rgba(50,50,50,0.5);
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;
$secondary-black: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;
$error-red: #D22D2D;