$primary-white: #FFFFFF;
$primary-blue: #0095FF;
$primary-black: #323232;
$primary-silver: #AFAFAF;

$secondary-black: #000000;
$secondary-blue: #0065AD;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;
