@use "colors";
@use "variables";
@use "typography";
@use "mixins";

html, body, figure, blockquote, section {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: colors.$primary-white;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input, textarea {
    box-sizing: border-box;
}

::placeholder { 
    color: colors.$primary-black;
    opacity: 1;
}