@use "variables" as *;
@use "colors";

@mixin tablet($padding: false) {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop($padding: false) {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@mixin loading {
    animation: pulsingBackground 5s infinite ease-in-out;
    background-color: colors.$secondary-mercury;
    @content;
}

@keyframes pulsingBackground{
    0%		{ background-color: colors.$secondary-mercury;}
    25%		{ background-color: colors.$secondary-alabaster}
    50%		{ background-color: colors.$secondary-mercury;}
    75%		{ background-color: colors.$secondary-alabaster}
    100%	{ background-color: colors.$secondary-mercury}
}