@use "mixins";
@use "colors";

@font-face {
    font-family: 'avenir', sans-serif;
    src: url('../assets/fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'avenir', sans-serif;
    src: url('../assets/fonts/AvenirNextLTPro-Demi.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'avenir', sans-serif;
    src: url('../assets/fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'avenir';
    color: colors.$primary-black;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    @include mixins.tablet {
        padding-top: 3rem;
        padding-bottom: 2.25rem;
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
}

h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    @include mixins.tablet { 
        padding-top: 3rem;
        padding-bottom: 2.25rem;
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

h3 {
    margin: 0;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
    @include mixins.tablet {
        padding-top: 3rem;
        padding-bottom: 2.25rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    @include mixins.tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

footer p, footer a {
    margin: 0;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    @include mixins.tablet {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

label, button {
    margin: 0;
    font-family: 'avenir';
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.25rem;
    @include mixins.tablet {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}

cite, address {
    font-style: normal;
}

figcaption, blockquote, cite {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
    @include mixins.tablet {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.35rem;
        line-height: 2rem;
    }
}

cite:before {
    content: '- ';
}

form, textarea, input {
    font-family: 'avenir';
}