@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.video-hero {
    background-color: colors.$secondary-black;

    &__container {
        @include mixins.tablet {
            padding-left: 2.25rem;
            padding-right: 2.25rem;
        }
        @include mixins.desktop {
            max-width: 55rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__video {
        width: 100%;
    }
}