@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.comment {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$secondary-mercury;
    padding: 1rem 0;
    position: relative;
    
    @include mixins.desktop {
        padding-right: 1rem;
        &--last {
            border-bottom: none;
            padding-bottom: 3rem;
        }
    }

    &__delete {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.75rem;
        cursor: pointer;

        @include mixins.desktop {
            right: 1rem;
        }

        &--loading {
            display: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 1rem;
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        flex: 1;
        font-weight: 700;
        &--loading {
            @include mixins.loading{
                height: 1rem;
                margin-right: 50%;
            }
        }
    }

    &__date {
        flex: 1;
        color: colors.$primary-silver;
        text-align: right;
        &--loading {
            @include mixins.loading {
                height: 1rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    &__time {
        &--loading {
            @include mixins.loading {
                display: none;
            }
        }
    }

    &__comment { 
        &--loading {
            @include mixins.loading {
                height: 3rem;
            }
        }
    }
}