@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.comment {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$secondary-mercury;
    padding: 1rem 0;
    
    @include mixins.desktop {
        padding-right: 1rem;
        &--last {
            border-bottom: none;
            padding-bottom: 3rem;
        }
    }

    &__avatar-container {
        width: 2.5rem;
        height: 2.5rem;
        overflow: hidden;
        border-radius: 50%;
    }

    &__avatar {
        margin: 0 auto;
        height: 100%;

        &--no-image {
            background-color: colors.$secondary-mercury;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 1rem;
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        flex: 1;
        font-weight: 700;
        &--loading {
            @include mixins.loading{
                height: 1rem;
                margin-right: 50%;
            }
        }
    }

    &__date {
        flex: 1;
        color: colors.$primary-silver;
        text-align: right;
        &--loading {
            @include mixins.loading {
                height: 1rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    &__comment { 
        &--loading {
            @include mixins.loading {
                height: 3rem;
            }
        }
    }
}