@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.video {
    display: flex;
    padding: 0.5rem 0;
    cursor: pointer;
    text-decoration: none;
    color: colors.$primary-black;
    
    &__image-container {
        overflow: hidden;
        width: 7rem;
        height: 4rem;
        border-radius: 0.25rem;
        background-color: colors.$secondary-mercury;
        
        &--loading {
            @include mixins.loading {
                height: 4rem;
                width: 7rem;
            }
        }
    }
    
    &__image {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;

        &--loading {
            visibility: hidden;
        }
    }

    &__details {
        margin-left: 1rem;
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: space-between;

        @include mixins.tablet {
            max-width: 12rem;
        }

        @include mixins.desktop {
            width: 12rem;
        }
    }

    &__title {
        font-weight: 700;

        &--loading {
            @include mixins.loading {
                height: 2rem;
            }
        }
    }

    &__channel {
        &--loading {
            @include mixins.loading {
                height: 1rem;
            }
        }
    }

    &__title-content {
        &--full {
            display: none;
           
            @include mixins.tablet {
                display: inline-block;
            }
        }
        
        &--truncate {
            @include mixins.tablet {
                display: none;
            }
        }
    }
}