@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.video-upload {
    width: 100%;
    margin-bottom: 2rem;
    
    &__heading {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        
        @include mixins.tablet {
            padding-bottom: 1rem;
            border-bottom: 1px solid colors.$secondary-mercury;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-inputs {
        @include mixins.desktop {
            display: flex;  
            justify-content: space-between;
            border-bottom: 1px solid colors.$secondary-mercury;
            margin-bottom: 1.5rem;
            padding-bottom: 0.5rem;
        }
    }

    &__form-end {
        @include mixins.tablet {
            padding-bottom: 0.5rem;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid colors.$secondary-mercury;
        }

        @include mixins.desktop {
            margin-left: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    &__thumbnail {
        border-radius: 0.25rem;
        margin-top: 0.25rem;

        @include mixins.tablet {
            width: 50%;
        }

        @include mixins.desktop {
            width: auto;
            height: 12rem;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        color: colors.$primary-silver;
        margin-bottom: 1rem;
    }

    &__submit {
        margin-bottom: 1rem;
        @include mixins.tablet {
            order: 1;
            margin-bottom: 0;
            margin-left: 1rem;
            width: 25%;
        }
        @include mixins.desktop {
            width: 18%;
        }
    }

    &__cancel {
        @include mixins.tablet {
            width: 25%;
        }
        @include mixins.desktop {
            width: 18%;
        }
    }

    &__buttons {
        @include mixins.tablet {
            display: flex;
            flex-direction: row;
            flex-basis: 50%;
            justify-content: flex-end;
            align-items: center;
        }
    }
}