@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.video-details {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;

    @include mixins.tablet {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        justify-content: center;
    }

    @include mixins.desktop {
        max-width: 64rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        margin-top: 1rem;
        @include mixins.row;
        @include mixins.tablet {
            padding-bottom: 0;
        }
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid colors.$secondary-mercury;
        border-bottom: 1px solid colors.$secondary-mercury;
        @include mixins.row;
        margin: 0.5rem 0;

        @include mixins.tablet {
            border-top: none;
            justify-content: space-between;
            padding-top: 0;
        }
    }

    &__info-start {
        flex-basis: 50%;

        @include mixins.tablet {
            flex-basis: 30%;
            display: flex;
        }
    }

    &__info-end {
        flex-basis: 30%;

        @include mixins.tablet {
            display: flex;
        }
    }

    &__channel {
        flex-basis: 50%;
        padding: 0.25rem 0;
    }

    &__date {
        flex-basis: 50%;
        padding: 0.25rem 0;
        color: colors.$primary-silver;
    }

    &__views {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        padding: 0.25rem 0;
        color: colors.$primary-silver;

        @include mixins.tablet {
            justify-content: flex-end;
        }
    }

    &__likes {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        padding: 0.25rem 0;
        color: colors.$primary-silver;

        @include mixins.tablet {
            justify-content: flex-end;
        }
    }

    &__icon {
        margin-right: 0.5em;
    }

    &__description {
        @include mixins.row;
    }
}