@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.video-details {
    &__title {
        margin-top: 1rem;
        @include mixins.row;

        @include mixins.tablet {
            padding-bottom: 0;
        }

        @include mixins.desktop {
            padding-right: 1rem;
        }
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid colors.$secondary-mercury;
        border-bottom: 1px solid colors.$secondary-mercury;
        margin: 0.5rem 0;
        @include mixins.row;

        @include mixins.tablet {
            border-top: none;
            justify-content: space-between;
            padding-top: 0;
        }

        @include mixins.desktop {
            padding-right: 1rem;
        }
    }

    &__info-start {
        flex-basis: 50%;

        @include mixins.tablet {
            flex-basis: 40%;
            display: flex;
            justify-content: flex-start;
        }
    }

    &__info-end {
         @include mixins.tablet {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__channel {
        margin-right: 2rem;
        padding: 0.25rem 0;
    }

    &__date {
        padding: 0.25rem 0;
        color: colors.$primary-silver;
    }

    &__views {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        padding: 0.25rem 0;
        color: colors.$primary-silver;

        @include mixins.tablet {
            justify-content: flex-end;
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        padding: 0.25rem 0;
        color: colors.$primary-silver;

        @include mixins.tablet {
            justify-content: flex-end;
        }
    }

    &__icon {
        margin-right: 0.5em;
    }

    &__description {
        @include mixins.row;
        
        @include mixins.desktop {
            padding-right: 1rem;
        }
    }
}